body {
  background-image: url('../../assets/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  background-color: transparent;
  border-radius: 8px;
  padding: 2rem;
}